* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Reggae One", cursive;
   font-size: 20px;
   font-weight: 600;
   width: 100%;
   line-height: 1.7em;
   color: black;
}
header .link {
   text-decoration: none;
   color: aliceblue;
   text-shadow: 2px 2px 4px black;
   background: lightskyblue;
   padding: 10px;
}
header h3 {
   text-align: center;
   margin: 2em 0;
}
header span {
   background: linear-gradient(to right, #16222a, #3a6073, #16222a);
   padding: 25px;
   color: rgb(255, 255, 255);
   border-top-left-radius: 40%;
   border-bottom-right-radius: 40%;
}
header p {
   text-align: right;
   margin-right: 20px;
}
.bg img {
   width: 100vw;
   height: 100vh;
   opacity: 0.7;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -10;
}
main {
   margin: 4em 30px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   grid-gap: 2em;
}
main > div {
   background: linear-gradient(to top, #16222a, #3a6073, #16222a);
   color: rgb(255, 255, 255);
}
main img {
   width: 400px;
   margin: 5px auto;
   display: block;
   object-fit: cover;
   height: 250px;
}
main img:hover {
   filter: contrast(150%);
}
/* main div:hover {
    transform: rotateZ(200deg);
} */
main p {
   margin: 20px 10px;
   font-size: 1.4em;
   text-shadow: -2px -1px 1px #000000;
   text-align: center;
}
main button {
   display: block;
   font-size: 1em;
   font-weight: bold;
   margin: 15px auto;
   background: linear-gradient(to right, #16222a, #3a6073);
   padding: 10px;
   color: rgb(255, 255, 255);
   box-shadow: 3px 2px 5px rgb(0, 0, 0);
   transition: transform 1s;
}
main button:hover {
   transform: rotateY(360deg) scaleY(1.3);
}

@media only screen and (min-width: 320px) and (max-width: 688px) {
   main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
   }
   main img {
      width: 250px;
      height: 150px;
   }
   header p {
      text-align: right;
      margin-right: 0;
      font-size: 0.6em;
   }
}
@media only screen and (min-width: 689px) and (max-width: 1024px) {
   main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
   }
   main img {
      width: 300px;
      height: 200px;
   }
   header span {
      font-size: 1.5em;
   }
}
@media only screen and (min-width: 1025px) {
   main img {
      width: 250px;
      height: 250px;
   }
}
